body{
    background: #ecedef;
}
/* header  */
.side-featured-menu{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}
.featured-menu{
    border: none;
}
.nav-food-item{
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.25);
}
.featured-items{
    max-width: 100%;
    height: auto;
}
.cart-digit{
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}
/* main  */

.card-body{
    border: none;
    background:#ECEDEF;
}
.card-drinks-item{
    border: none;
}

.card-list{
    border: 1px solid #CECECE;
}

/* media query  */

@media only screen and (max-width: 574px) {
    .featured-menu-items {
      flex-direction: row;
    }
  }